@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.Article {
  @apply wrap-break-word text-justify hyphens-auto
}
.Article h1 {
  @apply text-4xl font-extrabold mb-4;
}
.Article h2 {
  @apply text-3xl font-bold mt-6 mb-3;
}
.Article h3 {
  @apply text-2xl font-semibold mt-5 mb-2;
}
.Article h4 {
  @apply text-xl font-semibold mt-4 mb-2;
}
.Article h5 {
  @apply text-lg font-semibold mt-3 mb-1;
}
.Article h6 {
  @apply text-base font-semibold mt-2 mb-1;
}
.Article p {
  @apply text-base leading-relaxed mb-4;
}
.Article a {
  @apply text-blue-500 hover:underline hover:text-blue-800;
}
.Article ul, .Article ol {
  @apply list-inside mb-4 pl-4;
}
.Article ul {
  @apply list-disc;
}
.Article ol {
  @apply list-decimal;
}
.Article li {
  @apply mb-2;
}
.Article blockquote {
  @apply border-l-4 border-neutral-300 pl-4 italic text-neutral-600 dark:text-neutral-400 my-4;
}
.Article code {
  @apply bg-neutral-200 py-0.5 px-1 rounded text-sm;
}
.Article pre {
  @apply bg-neutral-300 p-4 rounded-lg overflow-x-auto my-4;
}
.Article pre code {
  @apply bg-transparent p-0 rounded-none;
}
.Article img {
  @apply max-w-2/5 h-auto rounded-lg my-4;
}
.Article table {
  @apply w-full border-collapse border border-neutral-300 my-4;
}
.Article th, .Article td {
  @apply border border-neutral-300 p-2 text-left;
}
.Article th {
  @apply bg-neutral-100 font-semibold;
}
.Article hr {
  @apply border-t border-neutral-300 my-8;
}

/*
html,
body {
  @apply bg-white dark:bg-neutral-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}
*/